.AppLogo {
    width: 50%;
    pointer-events: none;
    display: block;
    margin: auto;
}

.PageWrapper {
    width: 100%;
    margin: auto;
    padding: 30px;
}

@media (min-width: 576px) {
    .PageWrapper {
        width: 80%;
    }
}

@media (min-width: 768px) {
    .PageWrapper {
        width: 60%;
    }
}

@media (min-width: 992px) {
    .PageWrapper {
        width: 50%;
    }
}

@media (min-width: 1200px) {
    .PageWrapper {
        width: 40%;
    }
}

@media (min-width: 1400px) {
    .PageWrapper {
        width: 30%;
    }
}
